<h1>Reports</h1>

<hr>

<!-- <h3>Users Registered by date:</h3> -->
<%# render_report 'my_users' %>

<br>

<h3>Hours of work:</h3>

<%# TODO: reports_kit implementation %>
<%= render_report 'worked_day' %>


<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Hours</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    <%# @data.each do |user| %>
      <tr>
        <th scope="row"><%# user[0] %></th>
        <td><%# user[1] %></td>
        <td><%# user[2] %></td>
      </tr>
    <%# end %>
  </tbody>
</table> -->


<br>
<%= link_to 'Back', :back %>